<log4net debug="true">
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFile" /> 
    <appender-ref ref="FileAppender" />
  </root>
  <appender name="RollingFile" type="log4net.Appender.FileAppender">
    <appendToFile value="true" />
    <file value="C:\Users\rasim\source\repos\Log4NetExample\Logs\loggfile.txt" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd-HHmm" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method - PASSWORD: %property{PASSWORD} - TC: %property{TC} - AMOUNT: %property{AMOUNT} - [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>
</log4net>